<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Товары</title>
    </head>

    <body>
        <header>
            <a th:href="@{/products}">Товары</a>
            <a sec:authorize="isAnonymous()" th:href="@{/auth/login}">Вход</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/cart}">Корзина</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/orders}">Заказы</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/orders}">Все заказы (admin)</a>
            
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выход">
            </form>
        </header>

        <div>
            <h3>Поиск</h3>

            <form id="search_form" th:action="@{/products}" th:method="GET">
                <input id="search" name="search" placeholder="Название товара..." type="text">
                <input id="from" name="from" placeholder="От (руб.)" type="text">
                <input id="to" name="to" placeholder="До (руб.)" type="text">

                <label for="sort">сортировать по:</label>
                <select id="sort" name="sort">
                    <option></option>
                    <option value="title">названию</option>
                    <option value="price">цене</option>
                </select>

                <input type="submit" value="применить">
            </form>

            <form sec:authorize="hasRole('ADMIN')" th:action="@{/products/add}" th:method="GET">
                <input type="submit" value="Добавить товар (admin)">
            </form>
        </div>

        <div>
            <h1>Товары</h1>

            <div>
                <div th:each="product : ${products}">
                    <img th:src="@{'/images/' + ${product.fileName}}" width="256px">
                    <p><a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.title}">Товар</a></p>
                    <p th:text="${product.price} + ' руб.'">Цена</p>
                </div>
            </div>
        </div>

        <script>
            var myForm = document.getElementById('search_form');

            myForm.addEventListener('submit', function (e) {
                var allInputs = myForm.getElementsByTagName('input');
                var allSelects = myForm.getElementsByTagName('select');

                for (var i = 0; i < allInputs.length; i++) {
                    var input = allInputs[i];

                    if (input.name && !input.value) {
                        input.removeAttribute('name');
                    }
                }

                for (var i = 0; i < allSelects.length; i++) {
                    var select = allSelects[i];

                    if (select.name && !select.value) {
                        select.removeAttribute('name');
                    }
                }
            });
        </script>
    </body>
</html>